<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.demandfood.app"
	versionCode="1"
	version="1.0.0">

  <name>Demand Food</name>

  <description>
    We deliver you a hot, healthy meal for just $9.99. Meals updated daily.
  </description>

  <author href="https://demandfood.com" email="hi@demandfood.com">
    Demand Food
  </author>

  <icon src="android/icon-48.png" gap:platform="android" gap:density="mdpi" />
  <icon src="android/icon-72.png" gap:platform="android" gap:density="hdpi" />
  <icon src="android/icon-96.png" gap:platform="android" gap:density="xhdpi" />
  <icon src="android/icon-144.png" gap:platform="android" gap:density="xxhdpi" />
  <icon src="android/icon-192.png" gap:platform="android" gap:density="xxxhdpi" />

  <access origin="*" subdomains="true" />

  <feature name="http://api.phonegap.com/1.0/network" />
</widget>
