<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.chexly.app"
	versionCode="1"
	version="1.0.0">

  <name>Chexly</name>

  <description>
    Use Chexly anytime you're hungry in Austin, Texas. Just choose which meal looks tastier, and have it delivered right to your door.
  </description>

  <author href="https://chexly.com" email="hi@chexly.com">
    Chexly
  </author>

  <icon src="android/icon-48.png" gap:platform="android" gap:density="mdpi" />
  <icon src="android/icon-72.png" gap:platform="android" gap:density="hdpi" />
  <icon src="android/icon-96.png" gap:platform="android" gap:density="xhdpi" />
  <icon src="android/icon-144.png" gap:platform="android" gap:density="xxhdpi" />
  <icon src="android/icon-192.png" gap:platform="android" gap:density="xxxhdpi" />

  <icon src="ios/icon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="ios/icon-120.png" gap:platform="ios" width="120" height="120" />
  <icon src="ios/icon-152.png" gap:platform="ios" width="152" height="152" />

  <access origin="https://chexly.com" subdomains="true" />
  <access origin="https://cdnjs.cloudflare.com" subdomains="true" />
  <access origin="https://maps.googleapis.com" subdomains="true" />
  <access origin="https://fonts.googleapis.com" subdomains="true" />
  <access origin="https://js.stripe.com" subdomains="true" />
  <access origin="https://d2dq2ahtl5zl1z.cloudfront.net" subdomains="true" />
  <access origin="https://connect.facebook.net" subdomains="true" />
  <access origin="https://*.facebook.com" subdomains="true" />
  <access origin="https://ssl.mousestats.com" subdomains="true" />
  <access origin="https://maps.gstatic.com" subdomains="true" />
  <access origin="https://themes.googleusercontent.com" subdomains="true" />
  <access origin="https://www.google-analytics.com" subdomains="true" />

</widget>
